/* Estamos trabaando con la etiqueta del cuerpo, y por lo tanto con la página COMPLETA */

body {
    background-color: #a6cbf8;
    /* La página de fondo será negra */
    color: rgb(0, 12, 121);
    /*El texto de la página será blanco */
}

h1 {
    color: yellow;
    font-weight: 700;
    text-align: center;
}

th {
    padding: 10px;
}

.btn {
    /*width: 15%;
    height: 25%;*/
    width: 7cm;
    height: 1.5cm;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section {
    padding: 60px;
}

.tabla {
    padding: 20px;
    margin: 20px;
}

.fila {
    background-color: blueviolet;
}

#fecha_final {
    margin-left: 20px;
}