/* Rectangle 3 */

position: absolute;
width: 99px;
height: 30px;
background: #EDE7E7;

/* Calidad de Aire */

position: absolute;
width: 411px;
height: 42px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #FFF500;

/* Rectangle 1 */

position: absolute;
width: 188px;
height: 110px;
background: #6BEDF5;

/* T y H Actuales */

position: absolute;
width: 188px;
height: 60px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;

/* graf hum y temp 1 */

position: absolute;
width: 512px;
height: 233px;
background: url(graf hum y temp.png);

/* Seleccione fecha de incio y final para la gráfica */

position: absolute;
width: 391px;
height: 30px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #FFF500;

/* Rectangle 2 */

position: absolute;
width: 99px;
height: 30px;
background: #EDE7E7;

/* Inicio */

position: absolute;
width: 102px;
height: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #000000;